@import "../utils/config";

.CreateTourSiteSelector { flex: 1; overflow-y: scroll; overflow-x: hidden; }
.CreateTourSiteSelector__button { width: 100%; height: 44px; border: 0; background: $brand-tertiary; font-size: 12px; font-weight: 700; text-transform: uppercase; color: $brand-text; margin: 1em 0 0; }
.CreateTourSiteSelector__button:hover { background: lighten($brand-tertiary, 4%); color: darken($brand-text, 5%) }
.CreateTourSiteSelector__button:focus { outline: none; }
.CreateTourSiteSelector__form-checkbox { margin: 0; padding: 16px 16px 24px; }
.CreateTourSiteSelector__form-checkbox-item { margin-bottom: 5px; list-style: none;}
.CreateTourSiteSelector__form-checkbox-item-label { display: block; margin: 0 0 16px; cursor: pointer; }
.CreateTourSiteSelector__form-checkbox-item-input { margin-right: 5px;}
