@import "../utils/config";

.MapSection { flex: 1; position: relative; display: flex; flex-direction: column; height: 100%; }
.MapSection__map { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

// CreateLocationSelector.jsx
.MapSection__createLocation-container { flex: 1; display: flex; flex-direction: column; }
.MapSection__createLocation-map { display: flex; flex: 1; flex-direction: 1; align-items: center; justify-content: center; }
.MapSection__createLocation-map:before { z-index: 1; content: ""; border: 3px solid red; -webkit-border-radius: 30px; height: 18px; width: 18px; -webkit-animation: pulsate 1s ease-out; -webkit-animation-iteration-count: infinite; opacity: 0; background: pink; pointer-events: none; }
@-webkit-keyframes pulsate { 0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;} 50% {opacity: 1.0;} 100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;} }

// click through current position marker
// .gmnoprint { display: none; pointer-events: none; }

// MapMap.jsx

.InfoWindow__imageContainer { min-width: 280px; max-width: 100%; }
.InfoWindow__title { width: 100%; height: 100%; margin: 0; padding: 0; }
.InfoWindow__artist { width: 100%; height: 100%; margin: 0; padding-bottom: 1em; }
.InfoWindow__description { width: 100%; height: 100%; }
.InfoWindow__url { width: 100%; height: 100%; }
