@import "../utils/config";

.NearbySection { display: flex; flex-direction: column; flex: 1; overflow-y: scroll; background: lighten($brand-highlight, 20%); color: $brand-primary; }
.NearbySection img { max-width: 100%; }

.NearbySection__heroBtnContainer { margin: 16px 0 0; }
.NearbySection__toursBtn,
.NearbySection__sitesBtn { width: 100%; min-height: 44px; padding: 0 16px; border: 1px solid $brand-border; background: white; text-align: left; }
.NearbySection__toursBtn { border-bottom: 0; }
.NearbySection__h2 { margin: 24px 16px 0; }
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
