@import "../utils/config";

.PhotoUpload { margin: 0 16px 24px; cursor: pointer; }
.PhotoUpload__dropzone { display: flex; justify-content: center; align-items: center; height: 120px; border: 1px dashed $brand-primary; border-radius: 6px; }
.PhotoUpload__message { display: flex; padding: 16px; text-align: center; }
