@import "../utils/config";

.SiteSection { flex: 1; overflow-y: scroll; position: relative; }
.SiteSection img { max-width: 100%; }
.SiteSection__TopBarWrapper { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; }
