@import "../utils/config";

.TopBarSection { display: flex; justify-content: space-between; width: 100vw; background: $brand-primary; color: $brand-text; }
.TopBarSection__centerContainer,
.TopBarSection__leftContainer,
.TopBarSection__rightContainer { display: flex; align-items: center; justify-content: center; }
.TopBarSection__leftContainer,
.TopBarSection__rightContainer { flex: 1; }
.TopBarSection__centerContainer { flex: 2; font-size: 10px; text-align: center; }
.TopBarSection__leftContainer { justify-content: flex-start; }
.TopBarSection__rightContainer { justify-content: flex-end; }

.TopBarBottomBtn { width: 100vw; height: 44px; border: 0; background: $brand-tertiary; font-size: 12px; font-weight: 700; text-transform: uppercase; color: $brand-text; }
