@import "../utils/config";

.TopBarButton--left,
.TopBarButton--right { min-height: 44px; padding: 4px 8px; margin: 8px 16px; border: 1px solid darken($brand-primary, 5%); border-radius: 4px; background: $brand-secondary; font-size: 10px; font-weight: 700; text-transform: uppercase; }
.TopBarButton--left:focus,
.TopBarButton--right:focus { outline: none; }
.TopBarButton--left:hover,
.TopBarButton--right:hover { background-color: lighten($brand-primary, 4%); color: darken($brand-text, 10%); }
.TopBarButton--right:hover { background-color: lighten($brand-primary, 4%); color: darken($brand-text, 10%); }
