@import "../utils/config";

.TopBarSearch {flex: 1; overflow-y: scroll; height: 24px; width: 100%;}
.TopBarSearch__active {height: 100%; width: 100%; position: absolute; background-color: #fff;z-index:9;}
