@import "../utils/config";

.TourList { flex: 1; }

.TourList__tours { flex: 1; margin: 0; padding: 0; background: lighten($brand-highlight, 20%); }

.TourList__tour { list-style: none; margin: 0 0 16px; border-top: 1px solid $brand-border; border-bottom: 1px solid $brand-border; cursor: pointer; }
.TourList__tour-hero-img { position: relative; }
.TourList__tour-hero-img:before { content: ""; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }
.TourList__tour-meta { display: block; padding: 8px 16px; background: white; }
.TourList__site-title { margin: 0; font-size: 12px; font-family: $font-roboto; }
.TourList__tour-distance,
.TourList__tour-duration,
.TourList__tour-num-sites,
.TourList__tour-categories,
.TourList__tour-category { font-size: 12px; }
.TourList__tour-num-sites { display: block; }
.TourList__tour-categories { float: right; max-width: 50%; padding: 0 0 0 16px; list-style: none; }
.TourList__tour-category { display: inline; }
.TourList__tour-category:after { content: ", "; }
.TourList__tour-category:last-child:after { content: ""; }
.TourList__tour-distance,
.TourList__tour-duration { position: absolute; bottom: 8px; font-size: 10px; color: white; }
.TourList__tour-distance { left: 8px; }
.TourList__tour-duration { right: 8px; }
