@import "normalize";

// colors
$licorice: #33364D;
$oxford-blue: #3A4259;
$dark-electric-blue: #586A80;
$cadet-gray: #8EA6B0;
$conch: #CDD9D5;

$brand-primary: $licorice;
$brand-secondary: $oxford-blue;
$brand-tertiary: $dark-electric-blue;
$brand-highlight: $cadet-gray;
$brand-text: $conch;
$brand-border: $brand-highlight;

// fonts
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// @media queries
$tablet: "only screen and (min-width : 321px)";
$desktop: "only screen and (min-width : 768px)";

// susy
$susy: (
  global-box-sizing: border-box,
   use-custom: (
    rem: true
  )
);

// box-sizing
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
